[alias]
        svn-rev = "!f() { rev=$1; shift; git log --all --grep=\"^From-SVN: r\\\\?$rev\\\\b\" \"${@}\"; } ; f"
        gcc-descr = "!f() { if test ${1:-no} = --full; then c=${2:-master}; r=$(git describe --all --abbrev=40 --match 'basepoints/gcc-[0-9]*' $c | sed -n 's,^\\(tags/\\)\\?basepoints/gcc-,r,p'); expr match ${r:-no} '^r[0-9]\\+$' >/dev/null && r=${r}-0-g$(git rev-parse ${2:-master}); else c=${1:-master}; r=$(git describe --all --match 'basepoints/gcc-[0-9]*' $c | sed -n 's,^\\(tags/\\)\\?basepoints/gcc-\\([0-9]\\+\\)-\\([0-9]\\+\\)-g[0-9a-f]*$,r\\2-\\3,p;s,^\\(tags/\\)\\?basepoints/gcc-\\([0-9]\\+\\)$,r\\2-0,p'); fi; if test -n $r; then o=$(git config --get gcc-config.upstream); rr=$(echo $r | sed -n 's,^r\\([0-9]\\+\\)-[0-9]\\+\\(-g[0-9a-f]\\+\\)\\?$,\\1,p'); if git rev-parse --verify --quiet ${o:-origin}/releases/gcc-$rr >/dev/null; then m=releases/gcc-$rr; else m=master; fi; git merge-base --is-ancestor $c ${o:-origin}/$m && \\echo ${r}; fi; }; f"
        gcc-undescr = "!f() { o=$(git config --get gcc-config.upstream); r=$(echo $1 | sed -n 's,^r\\([0-9]\\+\\)-[0-9]\\+$,\\1,p'); n=$(echo $1 | sed -n 's,^r[0-9]\\+-\\([0-9]\\+\\)$,\\1,p'); test -z $r && echo Invalid id $1 && exit 1; h=$(git rev-parse --verify --quiet ${o:-origin}/releases/gcc-$r); test -z $h && h=$(git rev-parse --verify --quiet ${o:-origin}/master); p=$(git describe --all --match 'basepoints/gcc-'$r $h | sed -n 's,^\\(tags/\\)\\?basepoints/gcc-[0-9]\\+-\\([0-9]\\+\\)-g[0-9a-f]*$,\\2,p;s,^\\(tags/\\)\\?basepoints/gcc-[0-9]\\+$,0,p'); git rev-parse --verify $h~$(expr $p - $n); }; f"
        gcc-verify = "!f() { \"`git rev-parse --show-toplevel`/contrib/gcc-changelog/git_check_commit.py\" $@; } ; f"
        gcc-backport = "!f() { \"`git rev-parse --show-toplevel`/contrib/git-backport.py\" $@; } ; f"
        gcc-mklog = "!f() { \"`git rev-parse --show-toplevel`/contrib/mklog.py\" $@; } ; f"
        gcc-commit-mklog = "!f() { GCC_FORCE_MKLOG=1 git commit \"$@\"; }; f"
[diff "md"]
        xfuncname = ^\\(define.*$
[user]
        email = trodgers@redhat.com
